<div>
  {{#with program}}
    {{#with excursion}}
      <h1>{{name}}</h1>
      {{#with location}}
        <div><address>{{city}}, {{country}}</address></div>
      {{/with}}
      <div>{{date}}</div>
      <div>
        <ul>
          {{#each program}}
            <li>
              <div><h2>{{name}}</h2></div>
              <div><h3>{{type}} ({{duration}})</h3></div>
              {{#with details}}
                {{#with museum}}
                  <div><strong>{{name}}</strong></div>
                  {{#with location}}
                    <address>
                      <div>
                        {{address}},{{city}},{{country}}
                      </div>
                    </address>
                  {{/with}}
                  <br />
                  {{#each exhibits}}
                    <div><b>{{name}}</b></div>
                    <div>{{artist}}</div>
                    <div>{{description}}</div>
                    <div>
                      {{#if audio_guide}}
                        <small>(with audio guide)</small>
                      {{/if}}
                    </div>
                    <br />
                  {{/each}}
                {{/with}}
                {{#with venue}}
                  <div><strong>{{name}}</strong></div>
                  {{#with location}}
                    <address>
                      <div>
                        {{address}},{{city}},{{country}}
                      </div>
                    </address>
                  {{/with}}
                {{/with}}
                <br />
                {{#each performers}}
                  <div><strong>{{name}}</strong></div>
                  <div>{{type}}</div>
                  <br />
                {{/each}}
                {{#with guide}}
                  <div><i>{{name}}</i></div>
                  <div><i>{{language}}</i></div>
                  <div><i>{{rating}}</i></div>
                {{/with}}
              {{/with}}
            </li>
          {{/each}}
        </ul>
      </div>
    {{/with}}
  {{/with}}
</div>