<main class='p-5'>
  <div class='row'>
    <div class='col-12'>

      {{#with page_header}}
        <div class='mb-4'>
          <h1 class='text-center mb-3'>{{title}}</h1>
          <p class='text-uppercase text-center'>{{description}}</p>
        </div>
      {{/with}}

      {{#with section}}
        <div class='card'>
          <div class='card-body'>
            {{#with about_us}}
              <div class='card mb-3'>
                <div class='card-body'>
                  <div class='display-6 text-end mb-3'>{{title_list.main}}</div>
                  <h2 class='text-end mb-3'>{{title_list.sub}}</h2>
                  <button class='btn btn-outline-info mt-3'>{{button.text}}</button>
                </div>
              </div>
            {{/with}}

            {{#with advantage}}
              <div class='card mb-3'>
                <div class='card-body'>
                  <div class='display-5 mb-3'>{{title}}</div>
                  {{#with efficiency}}
                    <div class='card mb-3'>
                      <div class='card-body'>
                        <div class='display-4 mb-3'>{{title}}</div>
                        <h6 class='mb-3'>{{sub_title}}</h6>
                        <p>{{description}}</p>
                        <button class='btn btn-outline-warning mt-3'>{{button}}</button>
                      </div>
                    </div>
                  {{/with}}

                  {{#with innovation}}
                    <div class='card mb-3'>
                      <div class='card-body'>
                        <div class='display-4 text-center mb-3'>{{title}}</div>
                        <h6 class='text-center mb-3'>{{sub_title}}</h6>
                        <p class='text-center'>{{description}}</p>
                        <button class='btn btn-outline-warning mt-3'>{{button}}</button>
                      </div>
                    </div>
                  {{/with}}

                  {{#with collaboration}}
                    <div class='card'>
                      <div class='card-body'>
                        <div class='display-4 text-end mb-3'>{{title}}</div>
                        <h6 class='text-end mb-3'>{{sub_title}}</h6>
                        <p class='text-end'>{{description}}</p>
                        <button class='btn btn-outline-warning mt-3'>{{button}}</button>
                      </div>
                    </div>
                  {{/with}}
                </div>
              </div>
            {{/with}}

            {{#with agreement}}
              <div class='card'>
                <div class='card-body'>
                  <div class='display-5 mb-3'>{{title}}</div>
                  {{#with info}}
                    <div class='card'>
                      <div class='card-body'>
                        <h5 class='mb-3'>{{sub_title}}</h5>
                        {{#with detail}}
                          <div class='card'>
                            <div class='card-body'>
                              <p>{{text}}</p>
                              <button class='btn btn-success mt-3'>{{button}}</button>
                            </div>
                          </div>
                        {{/with}}
                      </div>
                    </div>
                  {{/with}}
                </div>
              </div>
            {{/with}}
          </div>
        </div>
      {{/with}}
    </div>
  </div>
</main>