<main>

  <div class='row g5'>

    {{!-- <section class='col-12'>
      {{#with features}}
        <div class='btn btn-link'>{{this}}</div>
      {{/with}}
    </section> --}}

    <section class='col-12'>
      <div class='card'>
        <div class='card-body'>
          <h1 class='card-title'>{{make}}</h1>
          <p>{{model}}</p>
          <p>{{year}}</p>
          <a
            href='/skills'
            class='btn btn-primary'
          >{{color}}</a>
        </div>
      </div>
    </section>

    {{#with features}}
      {{#with interior}}
        {{#with seats}}
          <section class='col-2'>
            <div class='card'>
              <div class='card-header'>
                <div>{{material}}</div>
              </div>
              <div class='list-group'>
                <div class='list-group-item'>{{color}}</div>
                {{#if heated}}
                  <div class='list-group-item'>+++</div>
                {{/if}}
                {{#if ventilated}}
                  <div class='list-group-item'>+++</div>
                {{/if}}
              </div>
            </div>
          </section>
        {{/with}}
        {{#with dashboard}}
          <section class='col-2'>
            <div class='card'>
              <div class='card-header'>
                <div>{{material}}</div>
              </div>
              <div class='list-group'>
                <div class='list-group-item'>{{color}}</div>
                <div
                  class='list-group-item'
                >{{display.display}}</div>
                <div
                  class='list-group-item'
                >{{display.size}}</div>
                <div
                  class='list-group-item'
                >{{display.resolution}}</div>
                <div
                  class='list-group-item'
                >{{display.touchscreen}}</div>
              </div>
            </div>
          </section>
        {{/with}}
        {{#with audio}}
          <section class='col-2'>
            <div class='card'>
              <div class='card-header'>
                <div>{{system}}</div>
              </div>
              <div class='list-group'>
                <div
                  class='list-group-item'
                >{{speakers}}</div>
                <div
                  class='list-group-item'
                >{{subwoofer}}</div>
                <div
                  class='list-group-item'
                >{{bluetooth}}</div>
                <div class='list-group-item'>{{USB}}</div>
              </div>
            </div>
          </section>
        {{/with}}
      {{/with}}
      {{#with exterior}}
        {{#with wheels}}
          <h5>{{size}}
            {{type}}
            <span
              class='badge bg-secondary'
            >{{color}}</span>
          </h5>
        {{/with}}
        {{#with headlights}}
          <h5>{{type}}
            {{brightness}}
            <span
              class='badge bg-secondary'
            >{{automatic}}</span>
          </h5>
        {{/with}}
        {{#with sunroof}}
          <h5>{{type}}
            {{size}}
            <span
              class='badge bg-secondary'
            >{{automatic}}</span>
          </h5>
        {{/with}}

      {{/with}}

      {{#with safety}}
        {{#with airbags}}
          <section>
            <span
              class='badge rounded-pill text-bg-primary'
            >{{front}}</span>
            <span
              class='badge rounded-pill text-bg-primary'
            >{{side}}</span>
            <span
              class='badge rounded-pill text-bg-primary'
            >{{knee}}</span>
            <span
              class='badge rounded-pill text-bg-primary'
            >{{rear}}</span>
          </section>
        {{/with}}
        {{#with assistance}}
          <section>
            <span
              class='badge rounded-pill text-bg-primary'
            >{{blind_spot_monitoring}}</span>
            <span
              class='badge rounded-pill text-bg-primary'
            >{{rear_cross_traffic_alert}}</span>
            <span
              class='badge rounded-pill text-bg-primary'
            >{{lane_departure_warning}}</span>
            <span
              class='badge rounded-pill text-bg-primary'
            >{{adaptive_cruise_control}}</span>
            <span
              class='badge rounded-pill text-bg-primary'
            >{{collision_warning}}</span>
          </section>
        {{/with}}
      {{/with}}

    {{/with}}
    {{#with engine}}
      <div>
        <span class='badge text-bg-primary'>{{type}}</span>
        <span
          class='badge text-bg-primary'
        >{{displacement}}</span>
        <span
          class='badge text-bg-primary'
        >{{horsepower}}</span>
        <span
          class='badge text-bg-primary'
        >{{torque}}</span>
        <span class='badge text-bg-primary'>{{type}}</span>
        {{#with transmission}}
          <span
            class='badge text-bg-primary'
          >{{type}}</span>
          <span
            class='badge text-bg-primary'
          >{{gears}}</span>
        {{/with}}
      </div>
    {{/with}}
    <br /><br />
    {{#with fuel_economy}}
      <div>
        <button type='button' class='btn btn-primary'>
          {{city}}
        </button>
        <button type='button' class='btn btn-secondary'>
          {{highway}}
        </button>
        <button type='button' class='btn btn-success'>
          {{combined}}
        </button>
      </div>
    {{/with}}
    <br /><br />
    {{#with price}}
      <div>
        <button
          type='button'
          class='btn btn-outline-primary'
        >
          {{base}}
        </button>
        <button
          type='button'
          class='btn btn-outline-primary'
        >
          {{destination}}
        </button>
        {{#with options}}
          <button
            type='button'
            class='btn btn-outline-primary'
          >
            {{navigation}}
          </button>
          <button
            type='button'
            class='btn btn-outline-primary'
          >
            {{moonroof}}
          </button>
          <button
            type='button'
            class='btn btn-outline-primary'
          >
            {{premium_paint}}
          </button>
        {{/with}}
      </div>
    {{/with}}

  </div>

</main>