<main class='p-5'>
  <div class='row'>
    <div class='col-12'>

      {{#with heading}}
        <div class='card mb-3'>
          <div class='card-body'>
            {{#with main}}
              <div class='card mb-3'>
                <div class='card-body'>
                  <h1>{{title}}</h1>
                  <p>{{text}}</p>
                  <div class='mb-3'><button class='btn btn-primary'>{{button_text.solid}}</button></div>
                  <div><button class='btn btn-outline-primary'>{{button_text.outline}}</button></div>
                </div>
              </div>
            {{/with}}

            {{#with second}}
              <div class='card mb-3'>
                <div class='card-body'>
                  <h2>{{title}}</h2>
                  <p>{{text}}</p>
                  <div class='mb-3'><button class='btn btn-secondary'>{{button_text.solid}}</button></div>
                  <div><button class='btn btn-outline-secondary'>{{button_text.outline}} </button></div>
                </div>
              </div>
            {{/with}}

            {{#with subblock}}
              <div class='card'>
                <div class='card-body'>
                  <h3>{{title}}</h3>
                  <p>{{text}}</p>
                  <div class='mb-3'><button class='btn btn-dark'>{{button_text.solid}}</button></div>
                  <div><button class='btn btn-outline-dark'>{{button_text.outline}}</button></div>
                </div>
              </div>
            {{/with}}
          </div>
        </div>
      {{/with}}

      {{#with nested_display}}
        <div class='card mb-3'>
          <div class='card-body'>
            <div class='display-1'>{{title}}</div>
            {{#with childre_display}}
              <div class='card mb-3'>
                <div class='card-body'>
                  <div class='display-4'>{{title}}</div>
                  <p>{{text}}</p>
                  <button class='btn btn-outline-warning'>{{button.text}}</button>
                </div>
              </div>
            {{/with}}
            <h6>{{header_text}}</h6>
            <button class='btn btn-info'>{{button.text}}</button>
          </div>
        </div>
      {{/with}}

      {{#with paragraph}}
        <div class='card'>
          <div class='card-body'>
            <p class='text-uppercase'>{{title}}</p>
            <p class='text-lowercase'>{{text}}</p>
            <a href={{button.url}} class='btn btn-link'>{{button.text}}</a>
            <div class='card'>
              <div class='card-body'>
                <ul>
                  {{#each list_name}}
                    <li>
                      <a href={{url}} class='btn btn-link'>{{text}}</a>
                    </li>
                  {{/each}}
                </ul>
              </div>
            </div>
          </div>
        </div>
      {{/with}}
    </div>
  </div>
</main>