<footer>
  <ol class='breadcrumb'>
    {{#each social}}
      <li class='breadcrumb-item'>
        <a class='text-decoration-none' href={{href}}>
          {{text}}
        </a>
      </li>
    {{/each}}
  </ol>
  <div class='my-3'>
    <em>Copyright by {{firstname}} {{lastname}}</em>
  </div>
  <div>
    <address>{{address}}</address>
  </div>
</footer>