<section>
  <div class='row'>
    {{#with subscribe}}
      <div class='col-12'>
        <div class='card text-bg-dark text-light'>
          <div class='row p-3'>
            <div class='col-6'>
              <h2>
                {{header}}
              </h2>
              <p>
                {{description}}
              </p>
            </div>
            <div class='col-6 text-end'>
              <a
                href={{buttons.0.link}}
                class='btn btn-primary'
              >{{buttons.0.text}}</a>
              <a
                href={{buttons.1.link}}
                class='btn btn-primary'
              >{{buttons.1.text}}</a>
            </div>
          </div>
        </div>
      </div>
    {{/with}}
  </div>
</section>