<nav class='row'>
    {{#with navigation}}
    <div class='col-12 mb-5'>
        <div class='card'>
            <div class='row'>
                <div class='col-3 display-6'>
                    {{Logo}}
                </div>
                <div class='col-9 nav nav-tabs justify-content-end'>
                    {{#each links}}
                    <div class='nav-item'>
                        {{#if href }}
                        <a href={{href}} class='nav-link'>{{text}}</a>
                        {{else}}
                        <a class='nav-link disabled'>{{text}}</a>
                        {{/if}}
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    {{/with}}
</nav>